@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I solemnly swear to store any private information as securely as possible, and as minimally as possible. I only store statistics tied to your bungie id (or derivative id numbers such as character IDs), and no other identifying information. I will never sell or share your information. As it's pretty public information already, I highly doubt anyone would pay for it anyway.</p>
